// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$primary: #0065a2;
$secondary: #002e5d;
$tertiary: #6cccde;
$white:#fff;
$black:#000;

$grey: #4d4e53;
$light-grey: #ccc;
$green: #bcd631;

$transparent-primary: rgba($secondary, .9);

$font-family: 'museo-sans', sans-serif !important;
